@media (max-width: 1900px) {
    body {
        background-size: 880px;
    }
}

@media (max-width: 1700) {
    body {
        background-size: 800px;
    }
}

@media (max-width: 1550) {
    body {
        background-size: 750px;
    }
}

@media (max-width: 1440) {
    body {
        background-size: 700px;
    }
}

@media (max-width: 1330) {
    body {
        background-size: 650px;
    }
}

@media (max-width: 1220) {
    body {
        background-size: 600px;
    }
}

@media (max-width: 1100) {
    body {
         background-position-x: -100px !important;
    }
}

@media (max-width: 1100) {
    body {
         background-position-x: -100px !important;
    }
}

