/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;1,400&display=swap');

/* Componentes */
@import "header.css";
@import "./buttons.css";
@import "./main.css";
@import "./footer.css";
@import "./responsive.css";

/* Reset CSS */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    list-style:none;
}

body {
    background-image: url('../img/bolha-background.png');
    background-repeat:  no-repeat;
    background-position: left center;
}

.container {
    width: 1024px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}